/* Define some basic padding classes */
.top5 {padding-top: 5px;}
.top10 {padding-top: 10px;}
.top15 {padding-top: 15px;}
.top20 {padding-top: 20px;}
.top25 {padding-top: 25px;}


.intro-header {
	padding-top: 50px;
	padding-bottom: 50px;
	background: url(/public/assets/images/banner.jpg) no-repeat center center;
    background-size: cover;
    min-height: 500px;
}

.site-footer {
	background-color: #374147;
	padding: 40px 0;
	color: #fff;
	margin-top: 30px;
	text-align: center;
}

.site-footer a {
	color: #fff;
	opacity: 0.6;
}

.site-footer a:hover {
	color: #fff;
	opacity: 1;
}
